.menu-header {
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 999;
    width: 100%;    
    justify-content: space-around;
    padding: 10px;
  }
  
  .logo img {
    border: 1px solid red;
    width: 50px;
    height: 50px  !important;
    border-radius: 50%;    
  }
  
  .menu-content {
    display: flex;
    gap: 7px;
    width: 75%;
  }
  
  .menu-item {
    padding: 10px;
    width: max-content;
  }
  .menu-icon {
    display: none; /* Hide menu icon by default */
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 24px;
    cursor: pointer;
  }
  .close-icon {
    display: none; /* Hide close icon by default */
    position: absolute;
    z-index: 10000;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .menu-item-inner {
    display: flex;
    align-items: center;
  }
  .menu-item:hover .item-text {
    color: blue;
    cursor: pointer;
  }
  
  .live {
    color: red;
    margin-right: 5px;
  }
  
  .live-icon {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
  }
  
  .item-text {
    font-size: 18px;
  }
  
  .camera-icon-near {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
  }

  .camera-button {
    background-color: #f9f9f9; /* Solgun arka plan rengi */
    border: 2px solid #ccc;
    border-radius: 20px; /* Adjust this value for oval shape */
    padding: 10px 20px; /* Adjust these values for desired size */
    font-size: 20px;
    color: #333;
    cursor: not-allowed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .camera-button:disabled {
    cursor: not-allowed;
  }
  
  .camera-button:hover {
    background-color: #f1f1f1;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }
  
  .camera-button svg {
    color: #007BFF; /* Adjust color to match your theme */
  }
  
 /* ========== RESPONSIVE SIDE IS HERE ========== */

  @media screen and (max-width: 650px) {
    
    .menu-header{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .sidebar{
      width: 100% !important;
      display: flex;
      margin-top: 100px;
      height: 100px;
      flex-direction: column;
      justify-content: space-between;
    }
    .sidebar .socialmedia , .sidebar .announcement{
      
      
      
      width: 100%;
      display: flex !important;
      gap: 10px;
justify-content: center;
      flex-direction: row !important;
    }

    .menu-header svg{
      font-size: 28px;
    }

    .logo >img{
        margin-top: 2%;
    }
    .item-text {
        font-size: 20px; 
      }
      .close-icon{
        font-size: 20px;
      }
    .menu-content {
      transform: translateX(0%);
      position: fixed;
      top: 0;
      left: 0;
      height: 0%;
      width: 0; 
      background-color: #ffffff;
      z-index: 1000;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      overflow-x: hidden;
      transition: width 0.3s ease; /* Smooth transition for width change */
    }
  
    .menu-header.opened .menu-content {
      width: 100%;
      height: 100%; /* Show sidebar when menu-header has 'opened' class */
    }
  
    .menu-icon {
      display: flex; /* Show menu icon on smaller screens */
    }
  
    .close-icon {
      display: flex; /* Show close icon on sidebar */
    }
  .camera-icon-bottom>svg{
    font-size: 28px;
  }
    .sidebar-open .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 20px;
    }
  
    .sidebar-open .item-text {
      font-size: 16px; /* Adjust font size for item text */
    }
  }